@import "_variables";
@import "_section";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    background-color: white;
    font-family: "Overpass";
}
.attribution {
    font-size: 11px;
    text-align: center;
    & a {
        color: hsl(228, 45%, 44%);
    }
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
//HEADER
header {
    background-color: $gradientTwo;
    background-image: url(images/bg-pattern-intro.svg);
    background-position: center;
    background-attachment: fixed;
    min-height: 750px;
    padding: 5em 2em 0;
    font-family: "Overpass";
    font-weight: 600;
    color: $clrText;
    border-bottom-left-radius: 122px;
    // z-index: -1;
    @media (min-width: 1440px) {
        padding: 1em 2em;
        min-height: 90vh;
    }
}
.ham {
    position: fixed;
    z-index: 100; //?
    top: 5rem;
    right: 1rem;
    border: none;
    background: transparent;
    cursor: pointer;
}
.xIcon {
    display: none;
}
.nav__list {
    position: fixed;
    top: 0;
    right: 100px;
    width: 50vw;
    background: $clrText;
    color: $clrHeadings;
    padding-top: 4rem;
    transform: translateY(-150%);
    transition: transform 0.2s;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    @media (min-width: 1440px) {
        position: static;
        transform: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: transparent;
        width: 100%;
    }
}
.showMenu {
    transform: translateY(150px);
    box-shadow: 0 8px 6px -6px black;
    z-index: 7;
    @media (min-width: 1440px) {
        transform: unset;
        box-shadow: unset;
    }
}
.nav__item {
    padding-bottom: 2rem;
    margin: 0 auto;
}
.nav__link {
    color: $clrHeadings;
    @media (min-width: 1440px) {
        color: black;
    }
}
.nav__link:hover {
    color: hsl(208, 60%, 35%);
}
.dropdown {
    @media (min-width: 1440px) {
        position: relative;
    }
}
.dropdown__link {
    @media (min-width: 1440px) {
        color: white;
    }
}
.dropdown img {
    transition: 0.5s;
}
.dropdown__menu {
    display: none;
    background-color: $clrFooterText;

    @media (min-width: 1440px) {
        position: fixed;
        margin: 0;
        top: 7em;
        padding: 0.5rem 1.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        background-color: white;
    }
}
.dropdown__item {
    margin: 0 auto;
    @media (min-width: 1440px) {
        margin: 0.5rem 0;
        color: black;
    }
}
.dropdown:hover > .dropdown__menu {
    display: block;
}
.dropdown:hover img {
    transform: rotate(180deg);
}

.nav {
    @media (min-width: 1440px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    @media (min-width: 1440px) {
        max-width: 1000px;
    }
}
.hero {
    padding-top: 5em;
    text-align: center;
    &__title {
        width: 100%;
        font-size: 2.2em;
    }
    &__text {
        margin-bottom: 3em;
    }
}
.btns {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $clrFooterText;
    @media (min-width: 1440px) {
        border-top: unset;
        flex-direction: row;
    }
}
.btn {
    padding: 0 1em;
    border-radius: 25px;
    width: 150px;
    height: 8vh;
    cursor: pointer;

    &--start {
        background-color: #fff;
        color: $clrCTAtext;
        margin-right: 1em;
        border: none;
        z-index: 1;
        &:hover {
            background-color: $clrCTAhoverBg;
            color: white;
        }
    }
    &--learn {
        background-color: transparent;
        color: #fff;
        border: 1px solid white;
        &:hover {
            background-color: white;
            color: $clrCTAtext;
        }
    }
    &--login {
        background: white;
        margin: 0 auto;
        border: none;
        color: $clrHeadings;
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 1em;
        @media (min-width: 1440px) {
            background: transparent;
            color: white;
            margin-bottom: 0;
        }
    }
    &--signup {
        margin: 0 auto;
        border: none;
        color: $clrText;
        background: linear-gradient(287deg, rgba(253, 29, 29, 1) 39%, rgba(252, 120, 69, 1) 59%);
        margin-bottom: 1em;
        @media (min-width: 1440px) {
            background: white;
            color: $clrCTAtext;
            font-weight: bold;
            margin-bottom: 0;
            &:hover {
                background-color: $clrCTAhoverBg;
                color: white;
            }
        }
    }
}
.buttons {
    display: flex;
    justify-content: center;
}

@media (min-width: 1440px) {
    .ham {
        display: none;
    }
    .abc + .btns {
        margin-left: 700px;
    }
}
